<br><br>
<div class="container" id="divconlogin">
  <br><br><br>
  <form action="">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter Username"><br><br>
      <input type="text" class="form-control" placeholder="Enter password"><br><br>
      <button class="btn btn-primary form-control">Log In</button>
      <br><br>
      <button class="btn btn-danger form-control" routerLink="../signup">Sign Up</button>
      <br><br>
    </div>
  </form>

</div>
<router-outlet></router-outlet>
