 <div class="container" id="maincont">
  <div id="container1" class="col-md-3">
    <h3>
    <p>About Section describes the technology used and how each section of the project is composed.
    </p>
    </h3>
    </div>
  <div id="container2" class="col-md-3">
    <h3>
    <p>Sign Up Section is used to create an account and provide a section to create own recipes</p>
    </h3>
  </div>
  <div  id="container3" class="col-md-3">
   <p></p>
  </div>
    <div  id="container4" class="col-md-3">
      <p></p>
    </div>
  </div>
<router-outlet></router-outlet>
